body {
	margin: 0;
	overflow: hidden;
	color: white;
	font-family: "Arial";
/*	margin-top: -100vh;*/
	transition: all ease 1s;
}
#title, #upload {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 20px;
	padding-right: -20px;
	transition: all ease 1s;
}
#title {
	background-image: url("/img/mri.gif");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: black;
	background-attachment: fixed;
}
#titleText {
	font-size: 5vw;
	margin-bottom: -10px;
}
#desc {
	font-size: 1.3vw;
	width: 30vw;
}
#upload {
	color: black;
	justify-content: flex-start;
	padding-top: 40vh;
}
#start, #uploadLabel {
	width: 12vw;
	height: 5vh;
	margin-top: 1vh;
	background-color: rgba(255,255,255,1);
	border: none;
	color: black;
	font-size: 1.5vw;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	transition: all ease 0.5s;
}
#start:hover, #uploadLabel:hover {
	margin-left: 1vw;
}
#uploadLabel {
	background-color: black;
	color: white;
}
#chevron {
	height: 3vh;
	width: 2vh;
	background-color: white;
	background-image: url("https://www.shareicon.net/data/2015/10/06/113447_right_512x512.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 1vw;
}
#check {
	display: flex;
	flex-flow: row;
	transition: all ease 0.5s;
}
#highlight {
	transition: all ease 0.5s;
}
#images {
/*	padding-left: 100vw;*/
	display: flex;
	flex-flow: row wrap;
}
input[type=file] {
	background-color: black;
}